[submodule "firmware/lib/24aa"]
	path = firmware/lib/24aa
	url = git@github.com:barthess/24aa.git
[submodule "mavlink_generator"]
	path = mavlink_generator
	url = git@github.com:mavlink/mavlink.git
[submodule "firmware/lib/embmatrix"]
	path = firmware/lib/embmatrix
	url = git@github.com:barthess/embmatrix.git
[submodule "firmware/lib/microrl"]
	path = firmware/lib/microrl
	url = git@github.com:barthess/microrl.git
[submodule "firmware/lib/navi6d"]
	path = firmware/lib/navi6d
	url = git@10.37.61.248:muaddib/sins_cpp.git
